argparse
chardet
ipython;python_version>"2.7"
minimock
nose
numpy;python_version>="3.5"
numpy<=1.16.5;python_version<"3.5"
pandas
-e git+git://github.com/PlaidCloud/plaid-rpc.git@master#egg=plaidcloud-rpc
pytest
pytest-cov
pyyaml
requests
setuptools
orjson
six
sqlalchemy
sqlalchemy-greenplum
sqlalchemy-hana
tables
texttable
toolz
unicodecsv
xlrd
xlwings;platform_system=="Windows"
