argparse
chardet
fastavro
fastparquet
ipython
numpy
pandas
plaidcloud-rpc@git+https://github.com/PlaidCloud/plaid-rpc.git@171f21aab3e20c6a8b02d9995fc6f619f3115474#egg=plaidcloud-rpc
pyarrow
PyYAML
requests
setuptools
orjson
openpyxl
SQLAlchemy~=1.4
sqlalchemy-greenplum
# sqlalchemy-hana
texttable
toolz
xlrd3@git+https://github.com/PlaidCloud/xlrd3.git@master#egg=xlrd3
xlwings;platform_system=="Windows"
